$color_1: #172b4d;
$color_2: #000;
$color_3: #fff;
$color_4: hsl(0, 0%, 55%);
$color_5: #909399;
$color_6: #67C23A;
$color_7: #E6A23C;
$color_8: #F56C6C;
$color_9: #C0C4CC;
$color_10: #5E6C84;
$color_11: #0079bf;
$color_12: white;
$color_13: #5e6c84;
$color_14: #6b778c;
$color_15: #42526e;
$font_family_1: trellicons;
$background_color_1: #FAFBFC;
$background_color_2: #E2E4E6;
$background_color_3: hsla(0, 0%, 100%, .3);
$background_color_4: hsla(0, 0%, 100%, .2);
$background_color_5: #61bd4f;
$background_color_6: rgba(9, 30, 66, .08);
$background_color_7: #edf2fc;
$background_color_8: #f0f9eb;
$background_color_9: #fdf6ec;
$background_color_10: #fef0f0;
$background_color_11: #F9FAFC;
$background_color_12: #FFFFFF;
$background_color_13: black;
$background_color_14: rgb(197, 0, 0);
$background_color_15: rgb(0, 121, 191);
$background_color_16: rgba(9, 30, 66, .04);
$background_color_17: #ebecf0;
$background_color_18: #fff;
$background_color_19: #f4f5f7;
$background_color_20: hsla(0, 0%, 100%, .24);
$background_color_21: hsla(0, 0%, 100%, .32);
$background_color_22: rgba(0, 0, 0, .12);
$background_color_23: rgba(0, 0, 0, .64);
$background_color_24: rgba(0, 121, 191, 1);
$border_color_1: #EBEEF5;
$border_color_2: #e1f3d8;
$border_color_3: #faecd8;
$border_color_4: #fde2e2;

